* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

nav {
  width: 50%;
  text-align: right;
  padding-right: 20px;
}

nav ul {
  list-style-type: none;
}

nav img {
  width: 50px;
  position: relative;
  top: 18px;
  border-radius: 50%;
}

nav ul li {
  display: inline;
  margin-left: 5px;
  position: relative;
  top: -33px;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  position: relative;
  height: 60px;
  background-color: aqua;
}

header h2 {
  position: absolute;
  top: -20px;
}
header h2 img {
  width: 130px;
}

header nav {
  position: absolute;
  right: 10px;
  top: 5px;
}

main {
  position: relative;
  height: 650px;
  background-color: azure;
}

#profile,
#form {
  position: absolute;
  height: 100%;
  width: 50%;
  padding: 10px 20px;
  text-align: center;
}

#profile {
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#form {
  right: 0;
  text-align: center;
}

#user-details {
  position: relative;
  height: 33%;
}

#photo {
  position: absolute;
  width: 40%;
  left: 0;
}

#photo img {
  width: 60%;
}

#details {
  position: absolute;
  width: 60%;
  right: 0;
}

#summary p {
  text-align: left;
}

#skills table,
#skills table td,
#skills table th {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px;
}
skills table th {
  font-style: 1.1rem;
  font-weight: bold;
}

#skills table {
  border-collapse: collapse;
}

#user-registration-form div {
  margin-bottom: 5px;
  text-align: center;
  width: 60%;
  left: 20%;
  position: relative;
}

input[type='text'],
input[type='password'],
select,
input[type='email'],
input[type='number'],
input[type='date'],
textarea {
  padding: 5px;
  width: 200px;
  border-radius: 4px;
  border: transparent;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

input[type='submit'],
input[type='reset'] {
  width: 100px;
  padding: 5px 10px;
  border: none;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
input[type='submit'] {
  background-color: greenyellow;
}
input[type='reset'] {
  background-color: red;
  color: #fff;
}

footer {
  background-color: aquamarine;
  padding: 10px 20px;
}
